.bash_history
.bash_logout
.bash_logout
.bashrc
.cache/
.git-credentials
.gitconfig
.kiauh.ini
.moonraker_database/
.profile
.wget-hsts
klipper_logs/*
klippy-env/*
mjpg-streamer/*
moonraker-env/*
fluidd/*
gcode_files/*
kiauh-backups/*